h1 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  background-color: grey;
}

.navbar {
  position: fixed;
  top: 0;
}
